.kz-btn {
  width: 90%;
  margin: 4px;
}
.kz-input-text {
  margin-top: 3px;
  width:96%;
margin-left:6px
}
.kz-pad-20 {
padding: 20px;
}
.col-xs-3, .col-xs-9 {
padding: 0px;
}
.container {

  align-items: center;
  justify-content: center;
  margin: 20rem 0 0 50rem;
}
